.titleButton {
   font-family: serif;
   font-size: larger;
   background-color: beige;
}
  
mat-card-header {
   justify-content: center;
}

mat-card {
   max-width: 400px;
}

cardimage {
   min-width: 20%;
   height: auto;
}